
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="/"><img src="/images/bftt.png" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/"><img src="/images/bftt.png" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/images/bftt.png" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
          <span class="font-weight-medium mb-2">Duong NX</span>
          <span class="font-weight-normal">$100.00</span>
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">0</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/admin/list">
        <i class="mdi mdi-table-large menu-icon"></i>
        <span class="menu-title">Product</span>
      </a>
    </li>
    <li class="nav-item sidebar-actions">
      <div class="nav-link">
        <div class="mt-4">
          <ul class="mt-4 pl-0">
            <li>Sign Out</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>