<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Beatiful Flowers</title>
    <link rel="stylesheet" href="../../Admin/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="../../Admin/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="../../Admin/assets/css/style.css" />
    <link rel="shortcut icon" href="../../Admin/bf1.png" />
  </head>
  <body>

    <%- include('partials_admin/sidebar.ejs') %>
    <%- include('partials_admin/navbar.ejs') %>

        <div class="container mt-4">
            <%- body %>
        </div>

        <%- include('partials_admin/footer.ejs') %>

    <script src="../../Admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../Admin/assets/js/off-canvas.js"></script>
    <script src="../../Admin/assets/js/hoverable-collapse.js"></script>
    <script src="../../Admin/assets/js/misc.js"></script>
  </body>
</html>